.seaction1__container{
    width:100%;
    margin:0;
}
.topPlane {
        position:relative;
        float:left;
        z-index:1;
        padding:2% ;
        width:28%;
        
    
    }
    .bottomPlane {
        margin:2%;
        padding:2% 0% 2% 10%;
        z-index:1;
        position:relative;
        float:left;
        width:55%;
       
    }