.displayResult__container{
    width:65%;
    /* height:40vh; */
    margin:3% 0 3% 3%;
    /* background-color:powderblue;
      background-image: linear-gradient(to bottom right, #6dd5ed, #2193b0); 
    border-radius:20px; */
}

.displayResult__result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:0px;
  
  
}



/* .displayResult__result h3{
     text-align:right;
    
   
} */
.displayResult__result h4{
  
  font-size: 1.2rem;
  flex: 1;
  margin: 0 1rem;
  
}