.root{
    margin:0% 0% 2% 16%;
     display:flex;
    
}


.userInputCard{
    margin-left:6%;
    width:65%;
    height:20vh;
    padding:4%;
    text-align:center;
}
.contextCard{ 
    margin-left:20px;
    width:20vh;
    height:50vh;
    left:0; 
    border-color:red;
     opacity:0;
    animation: main 1s ease-out forwards;
   
}

@keyframes main{
  100%{
    opacity:1;
  }
}