 .root{
  height:120vh;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(-55deg, #00f77a 10%, white 70%);
  font-family: 'helvetica neue';
}

.nav{
    top:0;
    padding:4px ;
    height:8vh;
    /* background-color:#00f77a; */
    display:flex;
    justify-content:space-between;
    /* position:fixed; */
}
.tags{
    display:flex;
    padding:20px;
    margin: 0 200px;
}
.tags h3{
    margin:5px 20px;
}
  .main{
   
}
.headContainer{
  width:90%;
   margin:0 6%;
}

.heading{
    color:red;
    font-weight:large;
    font-size:100px;   
}
.subHeading{
  margin:0q;
}
.inputContainer{
margin:4; 
}
.userInputCard{
   background-color:transparent;
  padding:4% 1%;
  text-align:center;
  width:80%;
   
}

/* Responsiveness */
@media  (min-width: 900px){
  .root{
  height:100vh;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(-55deg, #00f77a 10%, white 70%);
  font-family: 'helvetica neue';
}



.nav{
    top:0;
    padding:4px ;
    height:8vh;
    /* background-color:#00f77a; */
    display:flex;
    justify-content:space-between;
    /* position:fixed; */
}
.tags{
    display:flex;
    padding:20px;
    margin: 0 200px;
}
.tags h3{
    margin:5px 20px;
}
.main{
  display:flex;
  justify-content:space-between;
}
.headContainer{
   width:70%;
   margin:0 6%;
}

.heading{
    color:white;
    font-weight:large;
    font-size:100px;   
}
.subHeading{
  margin:0;
}
.inputContainer{
margin:7% 14%; 
}
.userInputCard{
   background-color:transparent;
  padding:4% 1%;
  text-align:center;
   
}
}