.mainCard{

    height:35vh;
    opacity:0;
    animation: main 1s ease-out forwards;
  
}

.elementCard{
  display: flex;
   justify-content: space-between;
   margin: 1%;
   padding:0 2%;
   font-weight:bold;
}
.elementCard:hover{
  margin:1% 0;
  padding:0.5%;
  font-size:22px;
  width:110;
  height:22%;
}
.maintanace{
  background-image: linear-gradient(to bottom right, yellow, white);
}
.eWL{
 background-image: linear-gradient(to bottom right,rgb(0, 253, 0), white);
}
.wL{ background-image: linear-gradient(to bottom right,rgb(2, 250, 89), white);}
.wG{ background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.4), white);}
.eWG{ background-image: linear-gradient(to bottom right, red, white);}

@keyframes main{
  100%{
    opacity:1;
  }
}