@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  outline:none;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}
.search__container{
    padding:1%;
    width:80%;
    margin-right:auto;
    height:30vh;
    background-color:#c6ffc1;
    /* background-image: linear-gradient(to bottom right, #6dd5ed, #2193b0);  */
    border-radius:20px;
    /* box-shadow:  8px  0 6px 6px black; */
}

.search__inputs{
  outline:none;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
 
}

/* .search__input{

 width:23%;
 margin:1%;
 padding-left:3%
} */

.search__input input {
   background:transparent;
   border:0;
   border-bottom:7px inset #79d70f ;
   font-size:25px;
   margin: 3% 3% ;
   width:90%
}

button{
  margin-left:70%;
  font-size:30px;
  padding:1%;
  border-radius:10px;
  color:#2b580c;
  background-color:#a8df65;
}