/* .img{
        background-image:   url("background.jpg");
        filter: blur(2px);
        -webkit-filter: blur(8px);
        height: 100vh;
        width:70%;
        margin:2% ;
      background-repeat: no-repeat;
       background-attachment: fixed;
         background-size: cover;
    background-position: center;
   
    } */

    .App{
            position:absolute;
            top:0;
            
    }